/.vscode
__pycache__
/venv
checkpoints/vox-cpk.pth.tar
checkpoints/vox-adv-cpk.pth.tar
*.jpg
render_frontal_cam_unity.py
*.pt
*.zip
pixel2style2pixel/utils_folder/train_utils.py
pixel2style2pixel/utils_folder/data_utils.py
pixel2style2pixel/utils_folder/common.py
pixel2style2pixel/utils_folder/__init__.py
pixel2style2pixel/pSpInfer.py
pixel2style2pixel/models/stylegan2/op/upfirdn2d_kernel.cu
pixel2style2pixel/models/stylegan2/op/upfirdn2d.py
pixel2style2pixel/models/stylegan2/op/upfirdn2d.cpp
pixel2style2pixel/models/stylegan2/op/fused_bias_act_kernel.cu
pixel2style2pixel/models/stylegan2/op/fused_bias_act.cpp
pixel2style2pixel/models/stylegan2/op/fused_act.py
pixel2style2pixel/models/stylegan2/op/__init__.py
pixel2style2pixel/models/stylegan2/model.py
pixel2style2pixel/models/stylegan2/__init__.py
pixel2style2pixel/models/psp.py
pixel2style2pixel/models/encoders/psp_encoders.py
pixel2style2pixel/models/encoders/model_irse.py
pixel2style2pixel/models/encoders/helpers.py
pixel2style2pixel/models/encoders/__init__.py
pixel2style2pixel/models/__init__.py
pixel2style2pixel/configs/transforms_config.py
pixel2style2pixel/configs/paths_config.py
pixel2style2pixel/configs/data_configs.py
pixel2style2pixel/configs/__init__.py
face-alignment/
